<!-- Login file -->
<div ng-controller="loginController">	
	<div class="container login_container">
      <form class="form-signin" name="loginForm" novalidate="">
        <label for="user" class="sr-only">User name</label>
        <input type="text" id="user" ng-model="uname" class="form-control" placeholder="User name" required="" autofocus="" >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="pwd" placeholder="Password" required="">       
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
      </form>
    </div>
</div>